{% extends 'jmxtransformer/base.html' %}
{% load bootstrap4 %}  

{% block content %}
<div class="jumbotron">
        <h1 class="display-4">Simple. Elegant. Awesome.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. </p>
        <p>
            {# Display a form #}
            <form role="form" method="post" enctype="multipart/form-data" {% if layout != 'vertical' %}class="form-{{ layout }}"{% endif %}>
                {% csrf_token %}
                {% bootstrap_form_errors form type='non_fields' %}
                {% bootstrap_form form layout=layout %}
                {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
            </form>
        </p>
    </div>
    <h4>List of jmxes</h4>
    <div class="row">
        {% for jmx in jmx_list %}
        <div class="col-sm-12 col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ jmx.name }}</h5>
                        <p class="card-text">{{ jmx.date_added }}</p>
                        <a href="{% url 'details' jmx.id %}" class="card-link">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock content %}
    
  
                

